body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Background.jpg");
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(92, 95, 232);
    font-family: 'Open Sans', sans-serif;
}
.barplus
{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.sidebar
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-left: 0px;
    padding-top: 40px;
}
.btn {

    color: white;
    background-color: #FB7475;
    width: 70px;
    height: 38px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FB7475;
}
.btnside
{
    color: white;
    background-color: #FB7475;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FB7475;
}

input {
    width: 243px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    /* border-color: whitesmoke; */
    border-style: none;
    
    /* border-color: rgb(251, 116, 117); */
    padding-left: 5px;
    border: 2px solid   #FB7475;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}
.redside
{
    width: 210px;
    height: 25px;
    border-radius: 20px;
    margin-bottom: 2rem;
    /* border-color: whitesmoke; */
    border-style: none;
    /* border-color: rgb(251, 116, 117); */
    padding-left: 5px;
    border: 2px solid   #FB7475;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus
{
    border-style: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(92, 95, 232);
}
.structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;

}

.basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 350px;
    height: 100px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 25px;
}

.itemss {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    /* height: 50vh; */
    /* overflow-y: scroll; */
    background-color: white;

}

.dyn {
    display: flex;
    flex-direction: row;
    color: rgb(143, 143, 166);
    /* min-height: 50px !important; */
    padding: 0;
    width: 93%;
    font-family: 'Open Sans', sans-serif;
    word-break: break-all;
    border-bottom: 1px solid rgb(215, 215, 228);

}
.itemss:last-child {
    border-bottom: 0;
}
.foot {
    width: 350px;
    height: 11px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;

}

.btn:hover {

    cursor: pointer;
    color: rgb(251, 116, 117);
    background-color: white;
    transition: 0s;
}
.btnside:hover {

    cursor: pointer;
    color: rgb(251, 116, 117);
    background-color: white;
    transition: 0s;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    max-width: 25px;
    max-height: 15px;
    padding: 10px;
    accent-color: rgb(92, 95, 232);

}

/* When the checkbox is checked, add a blue background */
input:checked+p {
    text-decoration: line-through;
    text-decoration-color: rgb(215, 215, 228);
    color: rgb(215, 215, 228);
}

.achisi
{
    text-decoration: none;
    color:  rgb(143, 143, 166);
    height: 35px;
    transition: all 0.3s;
    margin-right: auto;
}
.achisi:hover
{
    color: #FB7475;

}
.list {

    border-bottom: none;
    position: relative;
    
}

.delb
{
    position: absolute;
    right: 0;
    color: rgb(143, 143, 166);
    background-color: white;
    width: 20px;
    height: 20px;
    border-style: none;
}

.delb:hover
{
    color: #FB7475;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
  }
  
.closebtn:hover
{
    color: #FB7475;
}
.ham
{
    color: white;
    font-size:30px;cursor:pointer;
    position: absolute;
    left: 0.5%;
    top: 0;
}
.ham:hover
{
    color: #FB7475;
}